
table th.pequena,
table td.pequena{
    max-width: 80px !important;
    width: 79px;
}
@media (max-width: 768px) {
    .hiden{
        display: none !important;
    }
   
    table tbody tr td.reducir{
        font-size: 14px;
        max-width: 10px !important;
        padding: 0;
        overflow: hidden;
    }
}

@media (max-width: 1024px) {
    .hiden{
        display: block;
    }
    table tbody tr td.reducir{
        min-width: 10px !important;
    }
}
